$text-font: "Roboto";

$navbar-height: calc(50px + 3vh);

$page-margin: 50px;
$mobile-page-margin: 1rem;

@mixin roboto-light {
    font-family: $text-font;
    font-weight: 300;
}

html, body {
    margin: 0;
    font-family: $text-font;
}

html {
    position: relative;
    min-height: 100%;
}

input {
    @include roboto-light;
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

input::placeholder {
    font-family: $text-font;
    font-weight: 300;
}
